# Analysis of Appendix B.3.2

In [1]:
library(dplyr)
library(ggplot2)
library(ggpubr)
source("helper.r")
theme_set(theme_pubr(legend = "none"))

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Warning message:
"package 'ggplot2' was built under R version 3.6.3"Warning message:
"package 'ggpubr' was built under R version 3.6.3"Warning message:
"package 'plot3D' was built under R version 3.6.3"Warning message:
"package 'GGally' was built under R version 3.6.3"Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2
Warning message:
"package 'gridExtra' was built under R version 3.6.3"
Attaching package: 'gridExtra'

The following object is masked from 'package:dplyr':

    combine

### Data Preparation

In [38]:
# path to folder, with folders for dataset results
path = "../data/runs/mlp/"
datasets = list.files(path)

# create list with one list containing one dataframe per dataset
data.list = lapply(datasets, function(data){
  
  data.path = paste0(path, data, "/2_3_effects_and_trees/")
  objectives = list.files(data.path)
  
  for(i in 1:length(objectives)){
 
    res = readRDS(paste0(data.path, objectives[i]))
    df.sub = res$result[[1]]$eval
    df.sub$objective = res$objective
    
    if(i == 1) df = df.sub
    else df = rbind(df, df.sub)
  }
  
  return(df)
})
names(data.list) = datasets

ERROR: Error in rbind(deparse.level, ...): numbers of columns of arguments do not match

### Create Table  5

In [22]:
# relative confidence improvement on dataset level
df.datasets.conf = create_table_datasets(data.list, "SS_L2", "conf.rel", 7)

# count features with highest and lowest improvements (for Table 7)
df.feat.low      = as.data.frame(df.datasets.conf %>% group_by(feature.1) %>% summarise(n()))
df.feat.high     = as.data.frame(df.datasets.conf %>% group_by(feature) %>% summarise(n()))
df.feat.conf     = left_join(df.feat.high, df.feat.low, by = c("feature"= "feature.1"))

df.datasets.conf[,c("mean","sd","mean.1", "mean.2")] = round(df.datasets.conf[,c("mean","sd","mean.1", "mean.2")]*100,0)
names(df.datasets.conf)[4:7] = c("feat.high", "mean.high", "feat.low", "mean.low")
df.datasets.conf[,c(1:3,5,7)]

   dataset                                mean sd mean.high mean.low
1  adult                                  34    6 38        25
2  airlines                               49   20 61         3
3  albert                                 57   26 78        14
4  Amazon_employee_access                 58   17 69        21
5  APSFailure                             46   17 60        22
6  Australian                             41    7 46        32
7  bank-marketing                         29   13 45        15
8  blood-transfusion-service-center       34   20 39        13
9  car                                    44   17 51        32
10 christine                              47   14 54        19
11 cnae-9                                 66   26 83         7
12 connect-4                              47   14 56        17
13 covertype                              41   17 53        12
14 credit-g                               57   21 69         7
15 dionis                                 49   21 63         5
16 fabert                                 64   21 75        18
17 Fashion-MNIST                          41   12 47        18
18 helena                                 43   16 52         8
19 higgs                                  42   14 52        17
20 jannis                                 35   13 44        19
21 jasmine                                46   11 56        27
22 jungle_chess_2pcs_raw_endgame_complete 33   15 44         6
23 kc1                                    33   12 41        17
24 KDDCup09_appetency                     52   21 63         3
25 kr-vs-kp                               46   14 56        26
26 mfeat-factors                          56   16 70        29
27 MiniBooNE                              36   14 42        18
28 nomao                                  30    6 34        22
29 numerai28.6                            60   28 76        -3
30 phoneme                                29    7 32        25
31 segment                                53   21 66        10
32 shuttle                                48   11 58        32
33 sylvine                                37    6 42        29
34 vehicle                                34    8 41        30
35 volkert                                44   16 55        12

### Create Table 6

In [23]:
# relative negative loglikelihood improvement on dataset level
df.datasets.nll  = create_table_datasets(data.list, "SS_L2", "neg_loglik.rel", 7)

# count features with highest and lowest improvements (for Table 7)
df.feat.low      = as.data.frame(df.datasets.nll %>% group_by(feature.1) %>% summarise(n()))
df.feat.high     = as.data.frame(df.datasets.nll %>% group_by(feature) %>% summarise(n()))
df.feat.nll      = left_join(df.feat.high, df.feat.low, by = c("feature"= "feature.1"))

df.datasets.nll[,c("mean","sd","mean.1", "mean.2")] = round(df.datasets.nll[,c("mean","sd","mean.1", "mean.2")]*100,0)
names(df.datasets.nll)[4:7] = c("feat.high", "mean.high", "feat.low", "mean.low")
df.datasets.nll[,c(1:3,5,7)]

   dataset                                mean sd mean.high mean.low
1  adult                                   13   6  23         8
2  airlines                                17   9  23         1
3  albert                                  31  13  40         6
4  Amazon_employee_access                   0  36  29       -35
5  APSFailure                              15   7  23         6
6  Australian                              12  14  23        -4
7  bank-marketing                           7   9  17        -1
8  blood-transfusion-service-center         6  17  10        -8
9  car                                     26  32  35        10
10 christine                               10  11  17         1
11 cnae-9                                  67  37  93       -11
12 connect-4                               -4  38  22       -84
13 covertype                               28  13  38         8
14 credit-g                                41  24  81         2
15 dionis                                  47  55 144       -18
16 fabert                                  37  17  54         8
17 Fashion-MNIST                           15  11  28         2
18 helena                                 -20  31  -9       -35
19 higgs                                   20  12  33        -2
20 jannis                                  17   7  21         8
21 jasmine                                  6  14  24       -11
22 jungle_chess_2pcs_raw_endgame_complete   9  15  24        -7
23 kc1                                     11  10  17         4
24 KDDCup09_appetency                      23  28  62       -33
25 kr-vs-kp                                 9  35  43       -17
26 mfeat-factors                           25  19  51        10
27 MiniBooNE                                9  14  17        -8
28 nomao                                    8   6  16         3
29 numerai28.6                             17   9  23         4
30 phoneme                                 11   7  17         5
31 segment                                 22  57  41       -31
32 shuttle                                 35  24  84        19
33 sylvine                                 14  17  38         0
34 vehicle                                  0  20   9       -14
35 volkert                                 23  18  40         5

### Create Table 7

In [25]:
df.feat = left_join(df.feat.conf, df.feat.nll, by = "feature")
names(df.feat) = c("hyperparameter","#MC.high", "#MC.low", "#NLL.high", "#NLL.low") 
df.feat

  hyperparameter #MC.high #MC.low #NLL.high #NLL.low
1 batch_size     1         3      3          4
2 learning_rate  6         2      6          3
3 max_dropout    9         1      2          1
4 max_units      4        NA      7         NA
5 momentum       8        NA      7          3
6 num_layers     3        14      9         11
7 weight_decay   4        15      1         13

## Analyse different objective functions

### Create Table 8

In [29]:
targets = c("conf.rel", "conf.rel.opt.1", "neg_loglik.rel")
tab.obj = lapply(targets, function(target){
            tab.l2 = create_table_features(data.list = data.list, objective = "SS_L2", target = target, depth = 7)[,1:2]
            tab.ar = create_table_features(data.list = data.list, objective = "SS_area", target = target, depth = 7)[,1:2]
            tab.sd = create_table_features(data.list = data.list, objective = "SS_sd", target = target, depth = 7)[,1:2]
            tab = left_join(left_join(tab.l2, tab.ar, by = "feature"), tab.sd, by = "feature")
            tab[,2:4] = tab[,2:4]*100
            names(tab) = c("hyperparameter", "l2", "area", "sd")
            tab
        })
names(tab.obj) = targets
tab.obj

$conf.rel
# A tibble: 7 x 4
  hyperparameter    l2  area    sd
  <chr>          <dbl> <dbl> <dbl>
1 batch_size      40.8  39.8  37.7
2 learning_rate   50.2  50.0  49.6
3 max_dropout     49.7  49.1  47.2
4 max_units       51.1  50.6  50.4
5 momentum        51.7  51.2  50.7
6 num_layers      30.6  30.1  28.9
7 weight_decay    36.3  35.0  34.0

$conf.rel.opt.1
# A tibble: 7 x 4
  hyperparameter    l2  area    sd
  <chr>          <dbl> <dbl> <dbl>
1 batch_size      61.9  57.5  55.3
2 learning_rate   57.6  57.0  56.9
3 max_dropout     62.4  60.6  57.9
4 max_units       58.6  57.6  57.6
5 momentum        58.3  57.1  56.9
6 num_layers      50.9  46.1  46.2
7 weight_decay    61.0  52.7  50.7

$neg_loglik.rel
# A tibble: 7 x 4
  hyperparameter    l2  area    sd
  <chr>          <dbl> <dbl> <dbl>
1 batch_size      19.8  19.2  15.7
2 learning_rate   17.9  17.9  17.5
3 max_dropout     17.4  17.5  16.8
4 max_units       24.6  24.1  24.8
5 momentum        19.7  20.4  20.2
6 num_layers      13.8  15.3  15.3
7 weight_decay    11.9  11.6  11.1